@model IEnumerable<ShoesStore.Models.Shoes>

@{
    ViewBag.Title = "TrangChu";
}






    <div class="new_arrivals">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                            <!-- Product 1 -->
                            <div class="product-item men" style="position: absolute; left: 0px; top: 0px;">
                                <div class="product discount product_filter" style="border-right: 1px solid rgb(233, 233, 233);">
                                    <div class="product_image">
                                        <img src="@item.Image" alt="">
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@item.Hang</span></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a href="single.html">@item.Title</a></h6>
                                        <div class="product_price">@item.Price<span>$590.00</span></div>
                                    </div>

                                    <p>@ShoesStore.Helpers.Utils.DocSoThanhChu((Double)item.Price)</p>
                                    <div class="red_button add_to_cart_button"><a href="/Product/Details/@item.Id">Details</a></div>
                                </div>

                                <div class="red_button add_to_cart_button"><a href="/Product/AddCart/@item.Id">add to cart</a></div>
                            </div>
                        </div>
                    </div>
                 }
                </div>
        </div>
    </div>



